body {
  margin: 0px;
  color: #131418;
  font-family: sans-serif;
  font-family: Roboto, Ubuntu, Arial, sans-serif;
  font-size: 81.25%;
  line-height: 145%;
}
#credits {
  display: inline-block;
  position: absolute;
  top: 98.7%;
  left: 67%;
  color: #fafafa;
  font-style: italic;
  font-size: 76%;
}
page {
  /*background:linear-gradient(to left, #ec38bc, #7303c0);*/
  background: #111;
  display: block;
  /*margin: 20px auto;*/
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  position: relative;
}
page[size="A4"] {  
  width: 21cm;
  height: 29.65cm; 
}

.main-box {
  background-color: #fafafa;
  display: flex;
  position: absolute;
  height: 29.3cm;
  width: 21cm;
}

.pic {
  height: 3.8cm;
  width: 3.8cm;
  border-radius: 50%;
  background-color: #03001e;
  /*background-image: url('dps.jpeg');
  background-size: cover;
  background: rgba(3,0,30,0.5);
 background-repeat: no-repeat;*/
  position: absolute;
   background: linear-gradient(rgba(203,45,62, 0.1), rgba(239,71,58, 0.4)), url("dps.jpeg");
  background-size: cover;
  margin-top: -58%;
  margin-left: 15%;
}

h2 {
  margin: 0;
  color: #111;
  position: absolute;
  padding-left: 10%;
  font-size: 1.8em;
  padding-top: 8%;
}
h3 {
  margin: 0;
  padding: 0;
  padding-top: 2.5%;
  padding-left: 11%;
}
#lh3 {
  padding-left: 24%;
  padding-top: 3%;
}
.name-box {
  height: 1.2cm;
  width: 6cm;
  background-color: #fafafa;
  margin-top: 17%;
  margin-left: 2%;
  border: 3.3px solid #F44336;
  border-radius: 2px;
}
.name-color-box {
  height: 1.3cm;
  width: 6cm;
  color: #111;
  background: #F44336;
  border-radius: 2px; 
  margin-top: 5%;
  margin-left: 7%;
  position: relative;
}

#small {
  height: 0.8cm;
  width: 6cm;
  margin-bottom: 5%;
}

.l {
  margin-left: 15%;
}
.r {
  margin-top: 12%;
}

p {
  margin: 0;
}


.left {
  
  position: absolute;
  /*height: 82%;*/
  width: 48%;
  left: 0;
  top: 14%;
  margin-top: 4%;
 /* border-right: 1px solid #7303c0;*/
}
.right {
  
  position: absolute;
  /*height: 82%;*/
  width: 51%;
  left: 50%;
  top: 18.4%;
}

#circle {
  display: inline-flex;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid #F44336;
  margin-left: 60%;
  margin-top: 5%;
  margin-right: 3%;
}
#circle-r {
  display: inline-flex;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid #F44336;
  /*margin-top: 5%;*/
  margin-left: 3%;
}

.title {
  display: inline-flex;
  background-color: #F44336;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #03001e;
  font-weight: bold;
}
#r {
  margin-left: 13%;
}

#text {
  display: inline-flex;
  text-align: right;
  margin-right: 9%;
  margin-top: 5%;
  margin-left: 7%
}
#text-r {
  display: inline-flex;
  text-align: left;
  margin-top: 5.15%;
  margin-left: 13%;
  margin-right: 7%;
}

.timeline {
  display: flex;
  align-items: baseline;
  margin-left: 7%;
  margin-right: 9%;
}
.year {
  display: inline-flex;
  margin-right: 4%;
  font-weight: bold;
}

#circle-y {
  display: inline-flex;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid #F44336;
  margin-top: 5%;
  margin-right: 4%;
  padding-right: 3.02px;
}
.tltwocircle{
  display: inline-flex;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid #F44336;
  margin-top: 5%;
  margin-right: 4%;
  padding: 0;
  margin-left: 4%;
}

#tltwo {
  margin-top: 0;
}

.bar {
  height: 10px;
  background-color: #F44336;
  position: absolute;
  margin-top: -3%;
  
}
#cpp {
  width: 85%;
  margin-left: 5%;
}
#html {
  width: 80%;
  margin-left: 5%;
}
#css {
  width: 85%;
  margin-left: 5%;
}
#js {
  margin-left: 5%;
  width: 75%;
}
#rails {
  margin-left: 5%;
  width: 85%;
}


#line {
  position: absolute;
  display: inline-flex;
  border-left: 2px solid #111;
  height: 95px;
  margin-left: 42%;
  margin-top: 102%;
}
.hor-line {
  display: inline-flex;
  border-bottom: 2px solid #111;
  width: 148px;
  position: absolute;
  margin-top: 5.7%;
  margin-left: 16.5%;

}

#place {
  font-weight: bold;
}

#not-bold{
  font-weight: normal;
}

#projects-top {
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 9%;
}
#qr-demo {
  position: absolute;
  margin-top: -35%;
    margin-left: 64%
}

img {
  height: 120px;
  width: 100px;
  margin: 17px auto;
  position: absolute;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }