body {
	margin: 0px;
    background: #0e0e0e;
}

page {
 /* background: linear-gradient(to right, #cb2d3e, #ef473a);*/
  background: #cb2d3e;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  position: relative;
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

.main-box {
	width: 20cm;
	height: 27cm;
	background-color: white;
	display: flex;
	position: absolute;
    top: 2.2cm;
    left: 0.5cm;
}

.pic {
	height: 3.5cm;
	width: 3.5cm;
	border-radius: 50%;
	background-color: #cb2d3e;
	margin-top: -63%;
    margin-left: 23%;
    background-image: url('dp.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
	margin: 0;
    padding-top: 8%;
    padding-left: 13%;
}
.name-box {
	height: 1.5cm;
	width: 7cm;
	background-color: white;	
	margin-left: 32%;
    margin-top: 6%;
    border: 3.3px solid #cb2d3e;
    border-radius: 2px;
}

.name-color-box {
	height: 1.5cm;
	width: 7cm;
	background: #cb2d3e;
    border-radius: 2px;	
    margin: 0;
    margin-left: 7%;
}

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }